build
.vs

**/build


*tmproj

**/~*

**/bin

bin

**/obj

obj

*.userprefs

*.csproj.user

xcuserdata


*xcodeproj/*mode*

*xcodeproj/*pbxuser

*xcodeproj/*per*

*xcodeproj/project.xcworkspace

*xcodeproj/xcuserdata

*xcworkspace/xcuserdata

**/build

**/*xcodeproj/*mode*

**/*xcodeproj/*pbxuser

**/*xcodeproj/*per*

**/*xcodeproj/project.xcworkspace

**/*xcodeproj/xcuserdata

**/**/*xcodeproj/*mode*

**/**/*xcodeproj/*pbxuser

**/**/*xcodeproj/*per*

**/**/*xcodeproj/project.xcworkspace

**/**/*xcodeproj/xcuserdata

*tmproj

**/~*

.DS_Store

**/**/bin

**/bin

**/**/obj

obj

**/*.userprefs



*.suo

TestResults/
*.csproj.user
*.testsettings
*.vsmdi
*.DotSettings.user
*.sln.DotSettings

xcuserdata

**/**/Resource.designer.cs
**/Resource.designer.cs

**/packages/*

# Uncomment if necessary however generally it will be regenerated when needed
#!packages/repositories.config

.vs/

**/*.so
**/*.a


